﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="form-group">
    <p>This website hosts a quiz for you get to smarter.</p>
 </div>